.servicios {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 8rem;
}


.servicio {
    background: var(--light);
    width: 300px;
    padding: 2rem;
    border-radius: 20px;
}

.servicio h3{
    text-transform: uppercase;
}

.servicio:nth-child(2){
    box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.3);
    background-color:#c2cf9e;
}

.servicio i {
    color:var(--secondary-color);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:850px) {
    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
    }

    .servicio {
        width: 100%;
    }

    .servicio:nth-child(3){
        order: 3;
    }
}

@media screen and (max-width:1480px){
    .servicios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    .servicio:nth-child(2){
        order: 3;
    }
}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
}

@media screen and (max-width:850px) {
    .banda--contacto {
        text-align: center;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }

    .dual img{
        order: 2;
    }
}

.button {
    position: relative;
    padding: 0.6em 1.4em;
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: 8px;
    flex-shrink: 0;
    transition: opacity 0.3s ease-out;
    font-weight: 600;
}

.button i:last-child {
    margin-left: 0.5em;
}

.button i:last-child{
    transition: transform 0.3s ease-out;
}

.button:hover i:last-child {
    transform: translateX(6px);
}

.button:hover{
    opacity: 0.75;
}

/*Estilos slider*/
swiper-slide {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    background-color: var(--light);
}

swiper-container h2 {
    font-size: 3rem;
    color: var(--secondary-color);
}

swiper-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 1 / 2 / 1 / 2;
    border-bottom-left-radius: 100px;
    box-shadow: -11px -28px 37px #716060;
}

swiper-slide img:before {
    content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgb(var(black, 0 0 0) / 45%);
        z-index: 1;
}

.slide-container{
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide div:not(.slide-container) {
    margin: 0 8% 0 24%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width:1200px) {
    swiper-slide {
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    swiper-slide img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-area: 1 / 1 / 1 / 1;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: -0px 0px 0px #716060;
    }

    swiper-slide div:not(.slide-container) {
        margin: 0 8%;
        padding: 0.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;  
        text-align: center; 
        background-color: #3d393983;
        border-radius: 10px;
        box-shadow: 0px 0px 30px #000000;
    }

    swiper-slide div:not(.slide-container) p{
        display: none;
    }

    h1 {
        font-size: 2.5rem;
        margin:0;
    }

    swiper-container h2 {
        font-size: 2rem;
        margin:0;
        color: var(--secondary-color);
    }
}

/*Fin estilos slider*/