.servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}


.servicio {
    background: linear-gradient(0deg, var(--primary-color), transparent);
    text-align: center;
    width: 33%;
    padding: 1rem;
    border-radius: 5px;
}

.servicio i {
    color: var(--secondary-color);
}


@media screen and (max-width:850px) {
    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }

    .servicio {
        background: linear-gradient(0deg, var(--primary-color), transparent);
        text-align: center;
        width: 100%;
        padding: 1rem;
    }
}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
}

@media screen and (max-width:850px) {
    .banda--contacto {
        text-align: center;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
}

.button {
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.5rem;
    width: 100px;
    border-radius: 8px;
    flex: 0;
}

.txt--box {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--primary-color);
}

swiper-slide {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
}

swiper-slide img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 1;
}

swiper-slide img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

swiper-slide div {
    margin: 0 auto;
    padding: 1rem;
    max-width: 600px;
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}